* {
  box-sizing: border-box;
}

body {
  background: #57bd84;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: #ffffff;
  font-weight: bold;
  text-shadow: 2px 2px #333333;
}

.inputText {
  width: 310px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  color: #555;
}

.inputText--error::placeholder {
  color: crimson;
}

.primary {
  background: #fff;
  border-radius: 6px;
  color: black;
  padding: 10px 20px;
}

.inputText,
.primary,
.tasksList {
  border-top: 2px solid #333;
  border-left: 2px solid #333;
  border-right: 2px solid #333;
  border-bottom: 4px solid #333;
}

.primary:hover {
  background: #333;
  color: #ffffff;
}

.primary:active {
  transform: scale(0.95);
}

.tasksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tasksList {
  background: white;
  width: 300px;
  margin: 20px 0;
  list-style: none;
  padding: 0;
}

.tasksList li:nth-child(2n) {
  background: #f8f8f8;
}

.tasksList li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5px;
}

.tasksList li:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.tasksItem{
  flex: 1;
}

.tasksItem--done {
  text-decoration: line-through;
  color: darkgrey;
}

.tasksItemAction i {
  border-top: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 2px solid;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 5px;
  height: 27px;
  width: 27px;
  text-align: center;
}

.tasksItemAction .tasksItemAction-done  {
  background: #57bd84;
  border-color: #449469;
}

.tasksItemAction .tasksItemAction-delete {
  background: crimson;
  border-color: #b22222;
}

.tasksItemAction-done:hover {
  background: #3eb370;
}
.tasksItemAction-delete:hover {
  background: #c11335;
}

.tasksItemAction .hidden {
  visibility: hidden;
}
