* {
  box-sizing: border-box;
}

body {
  padding: 20px 10px;
  background: #f1f1f1;
}

.Gallery {
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 320px;
  padding-bottom: 20px;
  margin: 0 auto;
}

.Gallery__title {
  text-align: center;
}

.Gallery__mainImageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Gallery__mainImage {
  width: 100%;
  object-fit: cover;
  max-width: 300px;
}

.Gallery__mainImageCaption {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  color: white;
  width: 100%;
  padding: 0 5px;
}

.Gallery__imagesList {
  display: flex;
  align-items: stretch;
  gap: 5px;
  margin-top: 20px;
  overflow-x: auto;
  padding: 0 5px 10px 5px;
}

.Gallery__imageItem {
  width: 100%;
}

.Gallery__imageItem__image {
  cursor: pointer;
  width: 54px;
  height: 54px;
}
